        body {
            text-align: center;
        }

        nav {
            padding: 3px;
            word-spacing: 35px;
            font-size: 18px;
            border: 1px solid #000;
            width: 500px;  
            align-content: center;
            margin: 0 auto;
        }

        .cards {
        width: 300px;
         height: auto;
         display: grid;
         grid-template-columns: repeat(5, auto);
         gap: 20px;
         justify-content: center;
         margin: 0 auto;
           


        }

        .cards img {
            margin-top: 30px;
            width: 150px;
            height: auto;
        }

        .toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
        }

                .toggle button {
           width: 60px;
           height: 50px;
        }


        #iframe-overlay {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000; 
        display: flex;
        justify-content: center;
        align-items: center;
      }


      #iframe-overlay .iframe-container {
        position: relative;
        width: 90%;
        height: 90%;
      }


      #iframe-overlay iframe {
        width: 100%;
        height: 100%;
        border: none;
      }


      #iframe-overlay button {
        position: absolute;
        top: 10px;


        cursor: pointer;


      }


      #close-btn {
        right: 100px;
      }

      #fullscreen-btn {
        right: 10px;
      }






              